@mixin flexContainer($display, $align, $justify) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

.container {
  @include flexContainer(inline-flex, center, center);
}

.blockContainer {
  @include flexContainer(flex, center, center);
}

.column {
  flex-direction: column;
}